@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: 255 255 255;
  --foreground: 20 20 20;

  --card: 255 255 255;
  --card-foreground: 10 10 10;

  --popover: 255 255 255; 
  --popover-foreground: 10 10 10;

  --primary: 37 99 235; 
  --primary-foreground: 255 255 255;

  --secondary: 241 245 249; 
  --secondary-foreground: 20 20 20;

  --border: 220 220 220;

  --muted: 245 245 245;
  --muted-foreground: 120 120 120;

  --accent: 245 245 245;
  --accent-foreground: 20 20 20;

  --destructive: 200 0 0;
  --destructive-foreground: 255 255 255;

  --border: 230 230 230;
  --input: 230 230 230;
  --ring: 20 20 20;

  --chart-1: 255 150 120;
  --chart-2: 50 160 130;
  --chart-3: 40 110 90;
  --chart-4: 250 200 100;
  --chart-5: 255 180 120;

  --radius: 0.5rem;

  --sidebar-background: 250 250 250;
  --sidebar-foreground: 60 60 60;
  --sidebar-primary: 30 30 30;
  --sidebar-primary-foreground: 255 255 255;
  --sidebar-accent: 245 245 245;
  --sidebar-accent-foreground: 30 30 30;
  --sidebar-border: 220 220 220;
  --sidebar-ring: 85 150 255;
}

.dark {
  --background: 20 20 20;
  --foreground: 240 240 240;

  --card: 20 20 20;
  --card-foreground: 240 240 240;

  --popover: 20 20 20; 
  --popover-foreground: 240 240 240;

  --primary: 240 240 240;
  --primary-foreground: 20 20 20;

  --secondary: 40 40 40;
  --secondary-foreground: 240 240 240;

  --muted: 40 40 40;
  --muted-foreground: 160 160 160;

  --accent: 40 40 40;
  --accent-foreground: 240 240 240;

  --destructive: 130 0 0;
  --destructive-foreground: 255 255 255;

  --border: 40 40 40;
  --input: 40 40 40;
  --ring: 210 210 210;

  --chart-1: 100 150 255;
  --chart-2: 80 200 160;
  --chart-3: 230 160 90;
  --chart-4: 190 120 250;
  --chart-5: 255 110 160;

  --sidebar-background: 30 30 30;
  --sidebar-foreground: 240 240 240;
  --sidebar-primary: 90 140 255;
  --sidebar-primary-foreground: 255 255 255;
  --sidebar-accent: 20 20 20;
  --sidebar-accent-foreground: 240 240 240;
  --sidebar-border: 20 20 20;
  --sidebar-ring: 85 150 255;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }

  .default-border {
    border-color: rgb(var(--border));
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
    -webkit-text-wrap: balance;
  }

  .bg-var-background {
    background-color: rgb(var(--background));
  }

  .text-var-foreground {
    color: rgb(var(--foreground));
  }
}
